name: Test

on:
  pull_request: {}
  push:
    branches:
    - main

jobs:
  linux_test:
    name: Linux
    strategy:
      fail-fast: false
      matrix:
        config:
          - branch: 'v2.10'
          - branch: 'v2.11'
          - branch: 'latest'
          - branch: 'main'
    runs-on: ubuntu-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with: { cache: true }

      - name: Install nats-server
        run: go install github.com/nats-io/nats-server/v2@${{ matrix.config.branch }}

      - name: Check nats-server
        run: nats-server -v

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.x
            9.x
            10.x

      - name: Build
        run: dotnet build -c Release

      - name: Test
        run: |
          killall nats-server 2> /dev/null | echo -n
          nats-server -v
          dotnet test -c Release --no-build --logger:"console;verbosity=normal"

  windows_test:
    name: Windows
    strategy:
      fail-fast: false
      matrix:
        config:
          - branch: 'v2.10'
          - branch: 'v2.11'
          - branch: 'latest'
          - branch: 'main'
    runs-on: windows-latest
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
      MSYS_NO_PATHCONV: 1
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with: { cache: true }

      - name: Install nats-server
        run: go install github.com/nats-io/nats-server/v2@${{ matrix.config.branch }}

      - name: Check nats-server
        run: nats-server -v

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.x
            9.x
            10.x

      - name: Build
        run: dotnet build -c Release

      - name: Test
        run: |
          tasklist | grep -i nats-server && taskkill -F -IM nats-server.exe
          nats-server.exe -v
          dotnet test -c Release --no-build -p:TestTfmsInParallel=false
