name: Test

on:
  pull_request: {}
  push:
    branches:
    - main

jobs:
  test:
    name: ${{ matrix.os }} - ${{ matrix.branch }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        branch: ['v2.10', 'v2.11', 'latest', 'main']

    runs-on: ${{ matrix.os }}

    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_XMLDOC_MODE: skip

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with: { cache: true }

      - name: Install nats-server
        run: go install github.com/nats-io/nats-server/v2@${{ matrix.branch }}

      - name: Check nats-server
        run: nats-server -v

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.x
            9.x
            10.x

      - name: Build
        run: dotnet build -c Release

      - name: Test
        run: dotnet test -c Release --no-build
